<app-gameinfo></app-gameinfo>

<div class="playgame wrapper">
  <div class="row container">
    <div class="boxplay container" (click)="putFicha(0)">
      <img class="container" src="{{getIconTablero(0)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(1)">
      <img class="container" src="{{getIconTablero(1)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(2)">
      <img class="container" src="{{getIconTablero(2)}}" alt="freespace.jpg" />
    </div>
  </div>
  <div class="row container">
    <div class="boxplay container" (click)="putFicha(3)">
      <img class="container" src="{{getIconTablero(3)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(4)">
      <img class="container" src="{{getIconTablero(4)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(5)">
      <img class="container" src="{{getIconTablero(5)}}" alt="freespace.jpg" />
    </div>
  </div>
  <div class="row container">
    <div class="boxplay container" (click)="putFicha(6)">
      <img class="container" src="{{getIconTablero(6)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(7)">
      <img class="container" src="{{getIconTablero(7)}}" alt="freespace.jpg" />
    </div>
    <div class="boxplay container" (click)="putFicha(8)">
      <img class="container" src="{{getIconTablero(8)}}" alt="freespace.jpg" />
    </div>
  </div>
</div>
