/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;

}
/* inherit border-box on all elements in the universe and before and after
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
}
